body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    padding-left: 40px;
}
.login-button {
    margin-right: 40px;
}
.login-button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 20px;
}

.button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 20px;
}
.container {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: lightgrey;
    display: flex;
}
.auction-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.auction-item h2 {
    margin-top: 0;
}
.auction-item p {
    margin: 10px 0;
    padding-bottom: 20px;
}
.auction-item .bid-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;

    border-radius: 5px;
}
.logo-enchere img{
    width: 100px;
}

.hello{
    padding: 10px;
    background-color: lightgray;
    margin: 10px;
    border-radius: 5px;
}

.hello p {
    text-align: center;
    font-size: 20px;
}

.yellow-box {
    background-color: rgba(255, 255, 0, 0.2); /* jaune transparent */
    border: 1px solid black; /* bordure jaune doré */
    padding: 20px 460px;
    position: relative;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.container-information{
    width: 50%;
    padding-left: 20px;
}
.container-information p {
    font-size: 20px;
}
.container-button{
    width: 50%;
    text-align: center;
    margin: 40px;
    justify-items: center;
}

.room-button{
    padding-top: 20px;
}

.room-button a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(74, 214, 74);
    border-radius: 5px;
    font-size: 20px;
}