body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 5px;

}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #0056b3;
}
.error{
    color: red;
    font-weight: bold;
}

.yellow-box {
    background-color: rgba(255, 255, 0, 0.2); /* jaune transparent */
    border: 1px solid black; /* bordure jaune doré */
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}