body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    padding-left: 40px;
}
.login-button {
    margin-right: 40px;
}
.login-button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 20px;
}
.logo-enchere img{
    width: 100px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.item {
    background-color: lightgray;
    border-radius: 50px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    border: 1px solid #000;
}