body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    padding-left: 40px;
}
.login-button {
    margin-right: 40px;
}
.login-button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 20px;
}

.sales-section-title{
    margin: 0;
}
.create-sale-btn {
    display: block;
    width: 14%;
    margin: auto;
    margin-bottom: 5%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.logo-enchere img{
    width: 100px;
}

.container{
    padding: 20px;
    background-color: lightgrey;
}
.profile-section {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.profile-section h2 {
    text-align: center;
}
.profile-section div {
    margin-bottom: 15px;
}
.profile-section label {
    display: block;
    margin-bottom: 5px;
}
.profile-section input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}
.profile-section button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.profile-section button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.sales-section{
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.sales-section h2{
    padding-bottom: 10px;
    text-align: center;
}
.yellow-box {
    background-color: rgba(255, 255, 0, 0.2); /* jaune transparent */
    border: 1px solid black; /* bordure jaune doré */
    padding: 20px 460px;
    position: relative;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}