<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register.css">
    <title>Page d'inscription</title>
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <form action="/sales/new" method="POST">
        <div class="form-group">
            <label for="default_price">Set a product name</label>
            <input type="text" id="product_name" name="product_name" placeholder="Product name" required>
        </div>
        <div class="form-group">
            <label for="default_price">Set a default price in euros</label>
            <input type="number" id="price" name="price" placeholder="default price in €" required>
        </div>
        <div class="form-group">
            <label for="revocable">Is this sale revocable?</label>
            <select id="revocable" name="revocable" required>
                <option value="False">No</option>
                <option value="True">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="overbid">Is overbidding allowed?</label>
            <select id="overbid" name="overbid" required>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
        
        
        <!-- <div class="form-group">
            <label for="duration">Duration of the sale</label> -->
            <input hidden type="datetime-local" id="duration" name="duration">
        <!-- </div>  -->
       
        <div class="form-group">
            <label for="type">Type of sale</label>
            <input type="text" id="type" name="type" placeholder="Type of sale (default: Amount)">
        </div>
        <button type="submit">Register Sale</button>
    </form>

    {%if error%}
    <p style="color: red; text-align: center;"><strong>{{ error }}</strong></p>
    {% endif%}
</div>
</body>
</html>
