{% block flash %}
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    {% for message in messages%}
    <div class="yellow-box" id="yellowBox">
        <span class="close-btn" id="closeBtn">&times;</span>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}

<script>
    document.getElementById('closeBtn').addEventListener('click', function() {document.getElementById('yellowBox').style.display = 'none';});
</script>
{% endblock %}