{% block header %}
<header>
    <h1><a href="{{ url_for('index') }}" style="color: white; text-decoration: none;">FEUR Vente</a></h1>
    <div class="logo-enchere">
        <img src="../static/logo_enchere.png">
    </div>
    {% if session['email'] %}
    <div class="login-button">
        <a href="{{ url_for('userpage') }}"  style="background-color: lightgrey; color: black;">My account</a>
    </div>
    {% else %}
    <div class="login-button">
        <a href="{{ url_for('login') }}" style="background-color: 007BFF;">Login</a>
    </div>
    {% endif %}
</header>
{% endblock %}