<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Site de Vente aux Enchères</title>
</head>
<body>
    {% include "header.html" %}
    {% include "flash.html" %}

    {%if sales != []:%}
        {% for sale in sales:%}
                <div class="container">
                    <div class="container-information">
                        <h2>Sales n°{{ sale['id'] }}</h2>
                        <p>Product : {{ sale['product_name'] }}</p>
                        <p>Vendor : {{ sale['email'] }}</p>
                        <p>Overbid : {{ sale['overbid'] }}</p>
                        {%if sale['duration'] :%}
                        <p>Time : {{ sale['duration'] }} </p>
                        {%endif%}
                        <p>Curent price : {{ sale['price'] }}€</p>
                    </div>
                    <div class="container-button">
                        <div class="room-button">
                            <a href="http://localhost:5000/sales/{{sale['id']}}" style="background-color: 007BFF;">Auction</a>
                        </div>
                    </div>
                </div>
        {%endfor%}
    {%else:%}
        <div style="padding: 10px; margin: 20px; border-radius: 10px; background-color: lightgrey; text-align: center;" > 
            <h2>There is no sales for the moment !</h2>
        </div>
    {%endif%}
</body>
</html>
