<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>

    <div class="login-container">

        {% include "flash.html" %}

        <h2>Connexion</h2>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Email address" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Sign in</button>
        </form>
        <p>No account ?<a href="{{url_for('register')}}"> Create one !</a></p>

        {% if error%}
            <p style="color: red;"><strong>{{error}}</strong></p>
        {% endif%}
    </div>
</body>
</html>
