<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register.css">
    <title>Page d'inscription</title>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </div>
            <div class="form-group">
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </div>
            <div class="form-group">
                <input type="text" id="address" name="address"  placeholder="Address" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password"  placeholder="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign up">
            </div>
        </form>
        {%if error%}
            <p style="color: red; text-align: center;"><strong>{{ error }}</strong></p>
        {% endif%}
    </div>
</body>
</html>
