<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/room.css">
    <title>Site de Vente aux Enchères</title>
</head>
<body>

    {% include "header.html" %}

    <div style="text-align: center;"><h2>Sales room n°{{ id }}</h2></div>
    <div class="container">
        {%for array in sales%}
            <div class="item">
                <h2>Sales n°{{ array['id'] }}</h2>
                <p>Vendor : {{ array['email'] }}</p>
                <p>Time : {{ array['duree'] }}</p>
                <p>Curent price : {{ array['prix_depart'] }}€</p>
                <button>Auction</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>

