<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/sales.css">
    <title>Site de Vente aux Enchères</title>
</head>
<body>

    {% include "header.html" %}
    {% include "flash.html" %}

        <div class="container">
            <div class="sales">
                <h2>Sales n°{{ sale['id'] }}</h2>
                <p>Product : {{ sale['product_name'] }}</p>
                <p>Vendor : {{ sale['email'] }}</p>
                <p>Overbid : {{ sale['overbid'] }}</p>
                {%if sale['duration'] :%}
                <p>End : {{ sale['duration'] }} </p>
                {%endif%}
                <p>Curent price : {{ sale['price'] }}€</p>
            </div>

            {% if sale['email'] != session['email']:%}
            <div class="auction">
                <form method="post" action="">
                    <h2 style="text-align: center;">Auction</h2>
                    <input type="number" placeholder="€" id="purchase_price" name="purchase_price" min="{{ sale['price']+1 }}" required >
                    <button type="submit">Submit</button>
                </form>
            </div>
            {%endif%}
        </div>
        
        {%if min != None:%}
            <div class="timer" id="timer"></div>
            <script>
                const departMinutes = 10 - {{ min }}
                let temps = departMinutes * 60

                const timerElement = document.getElementById("timer")

                setInterval(() => {
                let minutes = parseInt(temps / 60, 10)
                let secondes = parseInt(temps % 60, 10)

                minutes = minutes < 10 ? "0" + minutes : minutes
                secondes = secondes < 10 ? "0" + secondes : secondes

                timerElement.innerText = `${minutes}:${secondes} until the sale is close !`
                temps = temps <= 0 ? 0 : temps - 1
                }, 1000)
            </script>
        {%endif%}

        <div class="bids">
            <h2>Last bids</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Time</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%for bid in bids:%}
                        <tr>
                            <td>{{ bid['bids.email'] }}</td>
                            <td>{{ bid['time'] }}</td>
                            <td>{{ bid['purchase_price'] }}€</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
   