<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/userpage.css">
    <title>Site de Vente aux Enchères</title>
</head>
<body>
        <header>
            <h1><a href="{{ url_for('index') }}" style="color: white; text-decoration: none;">FEUR Vente</a></h1>
            <div class="logo-enchere">
                <img src="../static/logo_enchere.png">
            </div>
            {% if session['email'] %}
            <div class="login-button">
                <a href="{{ url_for('logout') }}"  style="background-color: red; color: white;">Logout</a>
            </div>
            {% else %}
            <div class="login-button">
                <a href="{{ url_for('login') }}" style="background-color: 007BFF;">Login</a>
            </div>
            {% endif %}
        </header>

        {% include "flash.html" %}

        <div class="container">
            <form action="#" method="post">
            <div class="profile-section">
                <h2>User profil</h2>
                <div>
                    <label for="email">Email address:</label>
                    <input type="email" id="email" value="{{session['email']}}" disabled>
                </div>
                <div>
                    <label for="lastname">Last name:</label>
                    <input type="text" id="lastname" value="{{session['lastname']}}" disabled>
                </div>
                <div>
                    <label for="firstname">First name:</label>
                    <input type="text" id="firstname" value="{{session['firstname']}}" disabled>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="text" id="address" value="{{session['address']}}" disabled>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" value="{{session['password']}}" disabled>
                </div>
                <button class="editButton">Modify</button>
            </form>
            </div>
        </div>
    <div class="container">
        <div class="sales-section">
            <h2 class="sales-section-title">Your products in sales</h2>
            <a class="create-sale-btn" href="sales/new">create a sale</a>
            <table>
                <thead>
                    <tr>
                        {% for title in ['Sales ID', 'Product', 'Overbid', 'Revocable', 'Price', 'Duration'] %}
                        <th>{{ title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if sales %}
                    {% for sale in sales %}
                        <tr>
                            <td><a href="http://localhost:5000/sales/{{sale['id']}}">{{ sale['id'] }}</a></td>
                            <td>{{ sale['product_name'] }}</td>
                            <td>{{ sale['overbid'] }}</td>
                            <td>{{ sale['revocable'] }}</td>
                            <td>{{ sale['price'] }}€</td>

                            {%if sale['duration']:%}
                                <td>{{ sale['duration'] }}</td>
                            {%else:%}
                                <td>Illimited</td>
                            {%endif%}

                            {%if sale['revocable'] == True:%}
                                <td style="text-align: center;"><button>sale</button></td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="sales-section">
            <h2>Your bids</h2>
            <table>
                <thead>
                    <tr>
                        {% for title in ['Auction ID', 'Sales ID', 'Product', 'Vendor', 'Proposal', 'Time of the proposal'] %}
                            <th>{{ title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if auctions %}
                        {% for auction in auctions %}
                        <tr>
                            <td>{{ auction['bids_id'] }}</td>
                            <td><a href="http://localhost:5000/sales/{{auction['sale_id']}}">{{ auction['sale_id'] }}</a></td>
                            <td>{{ auction['product_name'] }}</td>
                            <td>{{ auction['vendor'] }}</td>
                            <td>{{ auction['purchase_price'] }}€</td>
                            <td>{{ auction['time'] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>
